*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:not(br) {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

html {
    font-family: Montserrat, sans-serif;
    color: #333333;
}


/* CONTENT */

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* HEADER */

.header {
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-size: calc(3vw + 3vh + 10px);
    height: 93%;
    min-height: 33vw;
    background-image: radial-gradient(
        ellipse 120vw 70vh at 0 10vh,
        rgba(58, 37, 33, 0.9),
        rgba(58, 37, 33, 0)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: calc(2vw + 1vh);
    padding-bottom: calc(2vw + 1vh);
}

.header,
.header__horizontalPaddingMirror {
    padding-left: calc(2vw + 1vh);
    padding-right: calc(2vw + 1vh);
}

.header__backgroundPreview,
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__backgroundPreview,
.header__background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header__backgroundPreview {
  background-image: url(data:image/gif;base64,R0lGODlhBgAEAPQAAKKLe6qJa7ujjL2touDc2dLNyp6AbbCMbMiwmr2pn+7q6NvSzYtmUauReYdqTqiLdrykjqaIaG9GKaB6VrmaeaJ8WoplSXBLMCZFySZFySZFySZFySZFySZFySZFySZFySH5BAEAABgALAAAAAAGAAQAAAUUIBAIA1EYB5IoC9M4DxRJE1VZVwgAOw==);
}

.header__background {
  background-image: url(/images/header-background.jpg);
  transition: opacity ease-in-out 1s;
}

.header__background--hidden {
  opacity: 0;
}

.header__tagline {
    font-size: 1em;
    text-shadow: 0 0 0.5em rgba(58, 37, 33, 0.8);
    line-height: 1.1;
}


/* TOP MENU */

.topMenu {
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.topMenu:not(.topMenu--withJs) {
    position: absolute;
}

.topMenu--withJs {
    position: fixed;
}

.topMenu--scrolledRecently {
    transition: none .2s ease-in-out;
    transition-property: color, background-color, box-shadow;
}

.topMenu:not(.topMenu--scrolledDown):not(.topMenu--unfolded) {
    color: white;
}

.topMenu--scrolledDown,
.topMenu--unfolded {
    background: white;
    box-shadow: 0 2px 3vh rgba(0, 0, 0, 0.2);
}

.topMenu__logo {
    font-size: 24px;
}

.topMenu__content,
.topMenu__closeMenu,
.topMenu__openMenu {
    padding: 3vh 0;
    box-sizing: content-box;
    min-height: 47px;
}

.topMenu__content {
    position: relative;
}

.topMenu__textOptions,
.topMenu__iconOptions {
    list-style: none;
}

.topMenu__toggleCheckbox {
    position: absolute;
    top: -999999px;
}


.topMenu__openMenu,
.topMenu__closeMenu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.topMenu__openMenu svg {
    margin-left: 0.8em;
    margin-bottom: 0.1em;
}

.topMenu {
    display: flex;
}

.topMenu label {
    cursor: pointer;
    user-select: none;
}

.topMenu a {
    color: inherit;
    display: block;
}

.topMenu a:hover,
.topMenu label:hover {
    opacity: 0.7;
}

.topMenu a:active,
.topMenu li:active {
    opacity: 0.4;
}

.topMenu__textOptions {
    margin: 1em 0;
}

.topMenu__textOptions li {
    margin-right: 1em;
}

.topMenu__textOptions a {
    padding: 0.5em;
}

.topMenu__textOptions li:last-child a {
    margin-right: -0.5em;
}

.topMenu__iconOptions {
    display: flex;
    align-items: center;
}

.topMenu__iconOptions li {
    margin-left: 0.1em;
}

.topMenu__iconOptions li {
    display: block;
}

.topMenu__iconOptions a {
    padding: 0.2em;
}

.topMenu__iconOptions li:last-child a {
    margin-right: -0.2em;
}

.topMenu svg {
    display: block;
}

@media screen and (max-width: 719px) {
    .topMenu__toggleCheckbox:checked ~ .topMenu__openMenu,
    .topMenu__toggleCheckbox:not(:checked) ~ .topMenu__closeMenu,
    .topMenu__toggleCheckbox:not(:checked) ~ .topMenu__textOptions,
    .topMenu__toggleCheckbox:not(:checked) ~ .topMenu__iconOptions {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    .topMenu__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .topMenu__spacer {
        flex-grow: 1;
    }

    .topMenu__textOptions,
    .topMenu__iconOptions {
        display: flex;
        align-items: center;
    }

    .topMenu__textOptions {
        margin: 0 0.8em;
    }

    .topMenu__openMenu,
    .topMenu__closeMenu {
        display: none;
    }
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-weight: 300;
}

.logo span {
    padding: 0 0 calc(4/28 * 1em) calc(8/28 * 1em);
}

.logo svg {
    height: calc(55/28 * 1em);
    width: auto;
}


/* CALLOUT */

.callout {
    width: 85vw;
    float: right;
    margin-top: -25vh;
    padding: 5vw;
    background: white;
    box-shadow: 0 3vh 10vh rgba(0, 0, 0, 0.3);
}


/* FEATURES */

.features {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__feature {
    margin: 3em 0 0;
    width: 100%;
    max-width: 60ch;
}

.features__feature img {
    width: 5em;
    height: auto;
    margin: 0.4em -0.4em;
}

.features__feature h3 {
    font-size: 1em;
    font-weight: 900;
}

@media screen and (min-width: 992px) {
    .features {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .features__feature {
        padding:  1em;
        width: 33%;
        max-width: 40ch;
    }
}
